<<<<<<< HEAD
{{#section 'head'}}
	<link rel="stylesheet" href="css/bienvenidos.css" />
	<script type="text/javascript"  src="js/bootstrap.min.js"></script>
{{/section}}


<!-- NOTA: utilice helper para simplificar el c贸digo de esta secci贸n -->


<h2><a href="/video">Videos</a></h2>

<form class="form" action="/video" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingresa el titulo">  

    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingresa la descripcion">   

    <input type="text" class="form-control" id="creditos" name="creditos" placeholder="Ingresa los creditos">  


    <input type="text" class="form-control" id="url_video" name="url_video" placeholder="Ingresa el url del video">  

    <input type="text" class="form-control" id="url_portada" name="url_portada" placeholder="Ingresa el url de la portada">  

  </div>
  <button type="submit" class="btn btn-default success">Aceptar</button>
=======
<!-- NOTA: utilice helper para simplificar el c贸digo de esta secci贸n -->


<h2><a href="/user">Usuarios</a></h2>

<form class="form" action="/user" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="enter a name">    
  </div>
  <button type="submit" class="btn btn-default success">Create</button>
>>>>>>> 6d78a4c0038d83c4cef832da2c129f84356a1b8b
</form>