
{{#section 'head'}}
	<link rel="stylesheet" href="css/bienvenidos.css" />
	<script type="text/javascript"  src="js/bootstrap.min.js"></script>
{{/section}}


<!-- NOTA: utilice helper para simplificar el código de esta sección -->

<h3>EDITAR SOLO UN DATO </h3>
 <a href="/video">Videos</a>

{{video.id}}, {{video.titulo}}

<a href="/video/{{video.id}}/edit" type="button" class="btn btn-default btn-warning" > EDITAR
</a>