{{#section 'head'}}
	<link rel="stylesheet" href="css/bienvenidos.css" />

	<script type="text/javascript"  src="js/bootstrap.min.js"></script>
{{/section}}


    
    
<br />

 <form action="/login" method="post" id="targetForm" name="">
  <div class="imgcontainer">
      <img src="recursos/imagenes/logoJS.png" alt="Logo"  class="img-rounded rotate"/>
  </div>

  <div class="contenedor">
    <h1>INICIA SESIÓN EN NADIR</h1>
       <br/>
      
      <!--form action="/login" method="post"-->
      <input id="username" name="username" type="text" placeholder="INGRESE SU USERNAME"  required>

      <br/>
      <input id="password" name="password" type="password" placeholder="INGRESE SU PASSWORD"  required>

      <br/>    
      <input type="submit" id="entrar" class="" value="ENTRAR" </a>
      <!--/form-->
      <hr/>
  
    
  </div>

 
</form>