<!DOCTYPE html>
<html lang="es-EC">

<head>
	 <link rel="icon" type="image/png"  href="recursos/imagenes/favicon.png" >

    <meta charset="utf-8">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--titulo del proyecto-->
    <title>N A D I R</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/commonConocenos.css" />
     <link rel="stylesheet" href="css/cssNavegador.css"> 
      <link rel="stylesheet" href="css/w3.css">
   	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

    {{{_sections.head}}}    

</head>

<body>
	<header>
		 <div id="nav">    
		 <nav class="navbar navbar-default">
      <ul>
  <li><a href="index.html"><i class="service-icon fa fa-home"></i>&nbsp;Inicio</a></li>
  <li><a href="bibliotecaVideos"><i class="service-icon fa fa-book"></i>&nbsp;Videos</a></li>
  <li><a href="conocenos"><i class="fas fa-info-circle"></i>&nbsp;Con&oacute;cenos</a></li>
  <li style="float:right"><a class="active" href="#about">SALIR/a></li>
</ul>
        
		</nav>
		</div>    
	
	</header>

    {{{body}}}

    <!-- Footer -->
    <footer>
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
           ESPOL-EDCOM. Derechos Reservados 2018. 
            <br>  DHG S.A. - N A D I R V.2.0.
            <br>
           
            <br>
     
          </div>
        </div>
      </div>
     
    </footer>
    <!-- /Footer -->


</body>
</html>
