<!-- NOTA: utilice helper para simplificar el código de esta sección -->


<h2><a href="/user">Usuarios</a></h2>

<form class="form" action="/user" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="enter a name">    
  </div>
  <button type="submit" class="btn btn-default success">Create</button>
</form>