
{{#section 'head'}}


    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

  <!---//////////////////////////////////////////////////////////////////////////////////-->
  <!-- Conocenos -->
   <h1><center>CON&Oacute;CENOS</center></h1>

            <h2><center>SOMOS UN GRUPO DE JÓVENES ESTUDIANTES DE DISEÑO WEB DE LA ESPOL</center></h2>
	<div id="conocenos">
        
     
        <section class="main">
      <div class="row">
        <ul class="ch-grid">
          <li>
            <div class="ch-item">       
              <div class="ch-info">
                <div class="ch-info-front ch-img-4"></div>
                <div class="ch-info-back">
                  <h3>HECTOR CHIMBO</h3>
					<p>hchimbo@espol.edu.ec</p>
                </div>  
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-5"></div>
                <div class="ch-info-back">
                  <h3>GABRIELA REQUENA</h3>
                  <p>margareq@espol.edu.ec</p>
                </div>
              </div>
            </div>
          </li>
			
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-6"></div>
                <div class="ch-info-back">
                  <h3>DANIEL VINCES</h3>
                  <p>danavin@espol.edu.ec</p>
      
                </div>
              </div>
            </div>
          </li>
        </ul>
</section>	
	   </div>
		<br>

	</div>	

  <!-- Conocenos -->  
<!--///////////////////////////////////////////////////-->                    