{{#section 'head'}}


    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

  <!---//////////////////////////////////////////////////////////////////////////////////-->
  <!-- Conocenos -->
   <h1><center>USUARIOS</center></h1>

            <h2><center>SELECCIONA UN PERSONAJE</center></h2>

	<div class="padre">
     
      <div class="hijo">
       
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>VICTORIA</h1></center> <img src="../public/recursos/imagenes/avatar1.jpg" /> </div> </a>      
      
       </div> 

        <div class="hijo">  
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>DIEGO</h1></center> <img src="../public/recursos/imagenes/avatar3.jpg" /> </a>
    
     </div>  

      </div>  

             <div class="hijo"> 
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>GOHAN</h1></center> <img src="../recursos/imagenes/avatar4.jpg" /> </a>
    </div> 
 </div>  
 <div class="hijo"> 
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>CHARLOTTE</h1></center> <img src="recursos/imagenes/avatar2.jpg" /> </a>
  
    </div> 
 </div>  
  </div>


  <!-- Conocenos -->  
<!--///////////////////////////////////////////////////-->                    