 .margin {margin-bottom: 60px;}
  .bg-1 { 
      background-color: orange;; /* Green */
      color: orange;
  }
  .bg-2 { 
      background-color: orange; /* Dark Blue */
      color: orange;
  }
  .bg-3 { 
      background-color: orange;; /* White */
      color: orange;
  }
  .bg-4 { 
      background-color: orange; /* Black Gray */
      color: orange;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      font-size: 16px;
  }
  .navbar {
      padding-top: 10px;
      padding-bottom: 15px;
      border: 20;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 16px;
      letter-spacing: 120px;
  }
  .navbar-nav  li a:hover {
      color: orange !important;
  }
