

<!---//////////////////////////////////////////////////////////////////////////////////-->

  {{#section 'head'}}

      <link rel="stylesheet" href="css/cssNavegador.css"> 
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

       <!-- Maquetación MENU OPCIONES --> 


       <h1><center>ADMINISTRACI&Oacute;N</center></h1>


       <div class="padre">
     
        <div class="hijo">

          <a type = "button" class="button button2" href= "user">
           <div><center><h3>USUARIOS</h3></center> <img src="recursos/imagenes/usuarios.jpg"  /> 
           </div>
          </a>     
        
        </div> 

          <div class="hijo">  
             <a type = "button" class="button button2" href= "video">
              <div><center><h3>VIDEOS</h3></center> <img src="recursos/imagenes/videos.jpg" />
              </div>
             </a>
         </div>  

               <div class="hijo"> 
                  <a type = "button" class="button button2" href= "pregunta">
          <div><center><h3>PREGUNTAS</h3></center> <img src="recursos/imagenes/preguntas.jpg" /> 
          </div> 
           </a>
     
        </div>  
         <div class="hijo"> 
            <a type = "button" class="button button2" href= "opcion"> 
        <div><center><h3>OPCIONES</h3></center> <img src="recursos/imagenes/opciones.jpg" />  
         </div>  
         </a>
      
     

        </div>  
               
               <div class="hijo">
                 <a type = "button" class="button button2" href= "puntaje"> 
          <div><center><h3>PUNTAJE</h3></center> <img src="recursos/imagenes/puntaje.jpg" />
           </div>
             </a>
     
        </div>  
 
      </div>






		   <!-- Maquetación MENU OPCIONES --> 
    
   <!---//////////////////////////////////////////////////////////////////////////////////-->

	