//////////////////////////////-->

   <audio src="recursos/audios/btnAzul.mp3" autoplay="true"></audio>





<div id="">
<!--h2><center>ANIMALES DE LA GRANJA</center></h2-->
  
    <!-- HTML5 tag video -->
    <p class = "oculta"  id = "indexVideo"></p>
    <div id="video">
       <!--iframe src="https://www.youtube.com/embed/F9Bo89m2f6g" frameborder="0" allowfullscreen></iframe-->
    </div>
    <!--video id="video"  controls autoplay-->
       
    <!--/video
    control actividades    <audio src="recursos/audios/btnAzul.mp3" autoplay="true"></audio>-->
 
    <!-- control buttons  <button class="botonVideo" onclick="playPause()">PLAY/PAUSE</button>  -->
    


  </div>


   
  <div id="preguntas"> <center><a href="preguntas.html" class="flotante"><img src="recursos/imagenes/boton.png"></a></center></div>