{{#section 'head'}}
<!-- Scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 

{{/section}}
 
  <!---//////////////////////////////////////////////////////////////////////////////////-->

    <audio src="recursos/audios/sonido_aulavideo.mp3" autoplay="true"></audio>
    
<h1><center>DISFRUTA LOS VIDEOS</center></h1>
<br>
<div>
  <div class="col-md-12 col-md-offset-2 ">         
          <div id="portadas">
            
          </div>
          <p class = "oculta"  id = "urlVideo"></p>
          <p class = "oculta"  id = "indexVideo"></p>

  </div>
<div class="clearfix"></div>
<br>

