
{{#section 'head'}}


    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

  <!---//////////////////////////////////////////////////////////////////////////////////-->
  <!-- Conocenos -->
   <h1><center>CON&Oacute;CENOS</center></h1>

            <h2><center>SOMOS UN GRUPO DE JÓVENES ESTUDIANTES DE DISEÑO WEB DE LA ESPOL</center></h2>

	<div class="padre">
     
      <div class="hijo">
       
        <div><center><h3>HECTOR CHIMBO</h3></center> <img src="recursos/imagenes/img1.jpg" /> </div>  
      
       </div> 

        <div class="hijo">  
      <div><center><h3>GABRIELA REQUENA</h3></center> <img src="recursos/imagenes/img2.jpg"" />   </div>  </a>
    
   

      </div>  

             <div class="hijo"> 
        <div><center><h3>DANIEL VINCES</h3></center> <img src="recursos/imagenes/img3.jpg"" /> </div>  </a>
   
 </div>  
 
  </div>

  <!-- Conocenos -->  
<!--///////////////////////////////////////////////////-->                    