<!DOCTYPE html>
<html lang="es-EC">
<head>
	<meta charset="utf-8">
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--titulo del proyecto-->
    <title>N A D I R</title>
     <!--css-->   
    <link rel="icon" type="image/png" href="recursos/imagenes/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css" />
	  <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet"  href="css/cssVideo.css" type="text/css" media="all"/> 
  
    <!-- system start-->
      
</head>
<body>
    <audio src="recursos/audios/sonido_index.mp3" autoplay="true"></audio>
    <div class="test"></div>
    <!-- Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
	  <img src="recursos/imagenes/logo.png" alt="Logo" width="" height="" class="img-rounded rotate"/>
    
            <br>              
               
                <a href="bibliotecaVideos" class="btn btn-top"> CLICK AQU&Iacute;</a>
                <div class="holaIndex">CONOCE UNA NUEVA EXCURSI&Oacute;N</div>      
      </div>
    </div>
    
       <!---///////////////////////////////////////////////////////////////////////////////////-->
           
            <!-- video de fondo-->
            <div>
                <video id="bgvideo" src= "recursos/video/videoFondo.mp4" type="video/mp4" autoplay loop muted>
                
                </video>
               
             
            </div>

     <!---///////////////////////////////////////////////////////////////////////////////////-->
    <!-- Footer -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
           ESPOL-EDCOM. Derechos Reservados 2018.
             <br>  DHG S.A. - N A D I R V.2.0.
             <br> 
             
          </div>
        </div>
      </div>
       <a href="login">ADMINISTRACI&Oacute;N</a>
    </footer>
    <!-- /Footer -->

</body>
</html>
