 <!---//////////////////////////////////////////////////////////////////////////////////-->

<h1><center>RESPONDE LAS PREGUNTAS</center></h1>
<br>
  

   <div class="admvideo" id="caja"></div>  
  <div  class="admvideo">  
               
          <div id="opciones">
            
        
           <p id = "urlVideo" class=""></p>

           <br>
           <br>
           </div>
          <audio id="ganar" src="recursos/audios/ganar.mp3"></audio>   
          <audio id="perder" src="recursos/audios/perder.mp3"></audio>   
          <p class = "oculta" id = "indexVideo"></p>
          
</div>
</div>
<div class="clearfix"></div>

<br>    <div class="col-md-6 col-md-offset-3 text-center">
  <!--a href="bibliotecaVideo.html" class="btn btn-top"> CLICK AQU&Iacute; PARA M&Aacute;S VIDEOS</a-->
  
  </div>