{{#section 'head'}}

      <link rel="stylesheet" href="css/cssNavegador.css"> 
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

  <!---//////////////////////////////////////////////////////////////////////////////////-->
  <!-- uusuarios -->
   <audio src="recursos/audios/seleccionajugador.mp3" autoplay="true"></audio>
   <h1><center>USUARIOS</center></h1>


            <h2><center>SELECCIONA UN JUGADOR</center></h2>

	<div class="padre">
     
      <div class="hijo">
       
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>VICTORIA</h1></center> <img src="recursos/imagenes/avatar1.JPG" /> </div> </a>      
      
       </div> 

        <div class="hijo">  
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>DIEGO</h1></center> <img src="recursos/imagenes/avatar3.JPG" />   </div>  </a>
    
   

      </div>  

             <div class="hijo"> 
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>GOHAN</h1></center> <img src="recursos/imagenes/avatar4.JPG" /> </div>  </a>
   
 </div>  
 <div class="hijo"> 
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>CHARLOTTE</h1></center> <img src="recursos/imagenes/avatar2.JPG" />   </div> </a>
  
  
 </div>  
  </div>


  <!-- usuarios -->  
<!--///////////////////////////////////////////////////-->                    