avatars


{{#each objUsers}}
	<div class="hijo">
       
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>{{nombre}}</h1></center> <img src="../../public/recursos/imagenes/avatar1.JPG" /> </div></a>      
      
       </div> 
{{/each}}