<h1> SELECCIONA LA OPCION CORRECTA </h1>


<audio src="recursos/audios/pregunta_1_1.mp3" autoplay="true"></audio>

<audio id="ganar" src="recursos/audios/ganar.mp3"></audio>   
<audio id="perder" src="recursos/audios/perder.mp3"></audio> 

<div class="col-md-12 col-md-offset-2 ">         
    <div id="opciones">
    {{objOpciones.length}}
       	{{#each objOpciones}}        	   
          <div class='responsive'><div class='gallery'><button id='{{id}}' onClick="alert('has hecho clic')"><img class='imagen' src='{{url_imagen}}' alt='{{url_imagen}}'></button></div></div>          
  		{{/each}}            
    </div>    
  </div>
<script>
	function validarRespuesta(e){
		var opc = $(e.target).attr("id");
		if(opc == 1){
	                alert("¡¡¡¡FELICIDADES!!!!");
	                var r = document.getElementById("ganar");	                
	                aud = r.play();
	                                
	    }else{
	                alert("¡¡¡¡RESPUESTA INCORRECTA!!!!");
	                var s = document.getElementById("perder");
	                aud = s.play();	                
	    }
	}	
	
</script>