<h1> PREGUNTAS: </h1>

 <audio id="ganar" src="recursos/audios/ganar.mp3"></audio>   
 <audio id="perder" src="recursos/audios/perder.mp3"></audio> 

<div class="col-md-12 col-md-offset-2 ">         
    <div id="opciones">
    {{objOpciones.length}}
       	{{#each objOpciones}}   
          <div class='responsive'><div class='gallery'><img id='{{id}}'class='imagen' src='https://previews.123rf.com/images/seamartini/seamartini1705/seamartini170500368/78076897-raza-de-caballo-o-equinos-razas-vector-dibujo-s%C3%ADmbolo.jpg' alt='{{url_imagen}}'></div></div>
          <p>aaaaaa</p>
  		{{/each}}            
    </div>    
  </div>
<script>
	
</script>