{{#section 'head'}}

      <link rel="stylesheet" href="css/cssNavegador.css"> 
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript"  src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

  <!---//////////////////////////////////////////////////////////////////////////////////-->
  <!-- uusuarios -->
   <audio src="recursos/audios/seleccionajugador.mp3" autoplay="true"></audio>
   <h1><center>USUARIOS</center></h1>


<center><h2>SELECCIONA UN JUGADOR</h2></center>

{{#each objUsers}}
	<div class="hijo">
       
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>{{nombre}}</h1></center> <img src="{{url_foto}}" /> </div></a>      
      
       </div> 
{{/each}}