
<center><h1>SELECCIONA UN JUGADOR</h1></center>

{{#each objUsers}}
	<div class="hijo"">       
        <a type = "button" class="button button2" href= "/video/"> <div><center><h1>{{nombre}}</h1></center> <img id = "{{id}}" src="{{url_foto}}" /> </div></a>      
       </div>       
{{/each}}