<center><h1>SELECCIONA UN JUGADOR</h1></center>


{{#each objUsers}}
	<div class="hijo">
       
        <a href="bibliotecaVideos" class="button button2" > <div><center><h1>{{nombre}}</h1></center> <img src="{{url_foto}}" /> </div></a>      
      
       </div> 
{{/each}}