
{{#section 'head'}}
link rel="stylesheet" href="css/cssNavegador.css"> 
      <link rel="stylesheet" href="css/bienvenidos.css" />
      <link rel="stylesheet" href="css/w3.css">
	<script type="text/javascript"  src="js/bootstrap.min.js"></script>
{{/section}}


<!-- NOTA: utilice helper para simplificar el código de esta sección -->


<h2><a href="/video">Videos</a></h2>

<form class="form" action="/video" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingresa el titulo">  

    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingresa la descripcion">   

    <input type="text" class="form-control" id="creditos" name="creditos" placeholder="Ingresa los creditos">  


    <input type="text" class="form-control" id="url_video" name="url_video" placeholder="Ingresa el url del video">  

    <input type="text" class="form-control" id="url_portada" name="url_portada" placeholder="Ingresa el url de la portada">  

  </div>
  <button type="submit" class="btn btn-default success">Aceptar</button>
</form>