{{#section 'head'}}

      <link rel="stylesheet" href="css/cssNavegador.css"> 
      
      <link rel="stylesheet" href="css/w3.css">
      <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
      <script type="text/javascript"  src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
{{/section}}

<a href="/pregunta">Regresar a la lista de Pregunta</a>

<h3>FORMULARIO EDITAR</h3>

<!-- NOTA: utilice helper para simplificar el código de esta sección 
agregar method-override 
-->

 <div class="container">
<form class="form" action="/pregunta/{{pregunta.id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="title"></label>

    <label for="name">Video id: </label>
    <input type="text" class="form-control" id="video_id" name="video_id"  value="{{pregunta.video_id}}"  disabled> 
     <br/>

    <label for="name">Contenido: </label>
    <input type="text" class="form-control" id="descripcion" name="descripcion"  value="{{video.descripcion}}">
      <br/>

    
     <label for="name"> URL Audio: </label>
     <input type="text" class="form-control" id="url_audio" name="url_audio"  value="{{video.url_audio}}">
      <br/>

  </div>
  <button type="submit" class="btn btn-info">ACEPTAR</button>
</form>
 </div>